logs/*
my.log

supervisor/supervisord.conf

tmp/*
!tmp/

models/*

db/novel.db

TestingCode/*
!TestingCode/langchain_quickstart/
!TestingCode/langgraph_quickstart/
!TestingCode/langgraph_multi_agents/
!TestingCode/static/

config/*
!config/
!config/prompt/

*.yaml
*.pyc
*.log
*.ipynb
*.mp4

.vscode
.venv

__pycache__

!*/.gitkeep
