logs/*
my.log
uv.lock

supervisor/supervisord.conf

tmp/*
!tmp/

models/*

db/novel.db

TestingCode/*
!TestingCode/dbtest/
!TestingCode/httptest/

config/*
!config/

*.yaml
*.pyc
*.log
*.ipynb
*.mp4

.vscode
.venv

__pycache__

!*/.gitkeep
